<div class="sw-hero__metrics">
  <div class="sw-hero__metric">
    <div class="sw-hero__metric-num display">4.280+</div>
    <div class="sw-hero__metric-label">Anlagen verbaut</div>
    <div class="sw-hero__metric-sub mono">seit 2019</div>
  </div>
  <div class="sw-hero__metric">
    <div class="sw-hero__metric-num display">3–5 Tage</div>
    <div class="sw-hero__metric-label">Versand aus</div>
    <div class="sw-hero__metric-sub mono">Wiener Neustadt</div>
  </div>
  <div class="sw-hero__metric">
    <div class="sw-hero__metric-num display">25 Jahre</div>
    <div class="sw-hero__metric-label">Produktgarantie</div>
    <div class="sw-hero__metric-sub mono">auf Module</div>
  </div>
</div>
